{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'page.css' %}">
        <title>Finn & Jake bank</title>
    </head>        
    <body>
        <div class="jumbotron text-center">
            <h1>Finn & Jake bank</h1>
        </div>

        <div class="container">
            <a href="/{{ account.number }}/">
            <div class="row">
                <h2>{{ account.name }}</h2>
            </div>
            </a>
            <div class="row">
                <h3>Debt: $ {{ account.debt }}</h3>
            </div>
            <div class="row">
                <h4>Due date: {{ account.due_date | date:"d/m/Y" }}</h4>
            </div>
            {% if interest > 0.005 %}
            <div class="row">
                <h4>Interest: $ {{ interest | floatformat:"2" }}</h4>
            </div>
            <div class="row credit">
                <h3>Total: $ {{ sum_debt | floatformat:"2" }}</h3>
            </div>
            {% endif %}
            <table class="table borderless">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for extract in account.credits.all %}
                    <tr>
                        <td>{{ extract.date | date:"d/m/Y" }}</td>
                        <td>{{ extract.description }}</td>
                        <td>{{ extract.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>